body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.task-card h5 {
  border-bottom: black solid 1px;
  padding-bottom: 10px;
}

.task-card:hover {
  cursor: grab;
}

.card-danger {
  border-color: red;
}

.card-warning {
  border-color: yellow;
}

.task-card.card-warning {
  background-color: #fff3cd !important;
}

.task-card.card-danger {
  background-color: #f8d7da !important;
}
